* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{   
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: animateBg 20s ease-in-out infinite;
}

.container{
    position: absolute;
    width: 100%;
    left: 0;
}


h1{
    
    margin-bottom: 70px;
}
.noFound{
    position: absolute;
    margin-top: 100px;

}


@keyframes animateBg {
    0% {
        background: rgb(255, 255, 2);
    }

    25% {
        background: rgba(255, 0, 255, 0.89);
    }
    50%{
        background: rgba(252, 8, 8, 0.698);
    }

    75% {
        background: rgb(8, 243, 8);
    }

    100% {
        background: rgb(255, 255, 0);
    }
}
