* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{   
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    animation: animateBg 20s ease-in-out infinite;
}


h1{
    margin-bottom: 70px;
}


@keyframes animateBg {
    0% {
        background-color: #ff0;
    }

    25% {
        background-color: #f0f;
    }
    50%{
        background-color: rgb(252, 8, 8);
    }

    75% {
        background-color: rgb(8, 243, 8);
    }

    100% {
        background-color: #ff0;
    }
}
